@import 'tailwindcss';

:root {
  --background: 250 249 246; /* creamy white */
  --foreground: 55, 65, 81; /* gray-800, stronger contrast */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-caveat);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 245 245 245;
  }
} */

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
  font-size: 1.125rem; /* equivalent to text-lg */
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-x {
  display: flex;
  animation: scroll-x 40s linear infinite;
}

.animate-scroll-x:hover {
  animation-play-state: paused;
}
